<form fxLayout="column" fxLayoutAlign="space-between stretch">
  <span *ngIf="organisation._id">ID: {{ organisation._id }}</span>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="organisation.name" name="name" #nameField="ngModel">
  </mat-form-field>

  <ng-container *ngFor="let sheet of organisation.sheets">
    <mat-checkbox [(ngModel)]="sheet.enabled" [name]="sheet.name">{{ sheet.name }}</mat-checkbox>
  </ng-container>

  <mat-form-field *ngIf="!organisation._id">
    <input matInput placeholder="Owner email" [(ngModel)]="ownerEmail" name="email" #emailField="ngModel">
  </mat-form-field>

  <span fxLayout="row" fxLayoutAlign="space-between center">
    <button type="button" (click)="updateClicked()" fxFlex *ngIf="organisation._id" mat-button color="primary">Update</button>
    <button type="button" (click)="createClicked(ownerEmail)" fxFlex *ngIf="!organisation._id" mat-button color="primary">Create</button>
    <button type="button" (click)="cancelClicked()" fxFlex mat-button>Cancel</button>
    <button type="button" (click)="deleteClicked()" fxFlex *ngIf="organisation._id" mat-button color="warn">Delete</button>
  </span>
</form>