<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="14px">
    <button class="new-document" (click)="createNewDocument()">New doc</button>
    
    <ng-container *ngFor="let document of (documents$ | async)">
        <app-ifrs9-summary [document]="document" (click)="openDocument(document)"></app-ifrs9-summary>
    </ng-container>
</div>