.new-document {
    margin-top: 40px;
    background-color: white;
    height: 60px;
    border: none;
}

.new-document:hover {
    box-shadow: 4px 4px rgb(214, 214, 194);
}

.new-document:active {
    background-color:rgb(214, 214, 194);
    box-shadow: none;
}