<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="14px">
  <table mat-table [dataSource]="( organisations$ | async )">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let organisation"> {{organisation._id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let organisation"> {{organisation.name}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="openOrganisation(row)"></tr>
  </table>
  <button mat-button color="primary" (click)="addOrganisation()">Add Organisation</button>
</div>