<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span class="button" (click)="homeClicked()"><mat-icon>account_balance</mat-icon>Anchorpoint</span>
  <span fxFlex></span>
  <span *ngIf="user && !(isSysAdmin(user))">
    <button mat-button (click)="ifrs9Clicked()">IFRS 9</button>
    <button mat-button (click)="riskClicked()">Risk Calc</button>
  </span>
  <span fxFlex></span>
  <span>
    <ng-container *ngIf="user">
      <button mat-button *ngIf="isSysAdmin(user) || isOrgAdmin(user)" [matMenuTriggerFor]="systemMenu">System settings<mat-icon>settings</mat-icon></button>
      <mat-menu #systemMenu="matMenu">
        <button mat-menu-item (click)="manageUsersClicked()">Manage Users <mat-icon>supervisor_account</mat-icon></button>
        <button mat-menu-item *ngIf="isSysAdmin(user)" (click)="manageOrganisationsClicked()">Manage Organisations <mat-icon>business</mat-icon></button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="userMenu">{{ user.email }}<mat-icon>person</mat-icon></button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="signOutClicked()">Sign out <mat-icon>power_settings_new</mat-icon></button>
      </mat-menu>
    </ng-container>
    <button mat-button *ngIf="!user" (click)="signInClicked()">Sign in <mat-icon>input</mat-icon></button>
  </span>
</mat-toolbar>