.master-workbook-card {
    margin-top: 40px;
    background-color: white;
    padding: 10px;
}

mat-icon {
    display: inline-flex;
    vertical-align: text-bottom;
}

.blue-link {
    color: blue;
    cursor: pointer;
}

.blue-link span {
    text-decoration: underline;
}

.info-text {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

mat-grid-tile {
    background-color: white;
}

mat-grid-tile span {
    margin: 4px;
}

.delete-link {
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}

.document-info {
    background-color: white;
    padding: 10px;
}

.box {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
}

.box-green {
    color: green;
    background-color: #ddffcc;
}

.box-red {
    color: red;
    background-color: #ffd6cc;
}

.box-blue {
    color: blue;
    background-color: #cceeff;
}