<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="14px">
  <div class="master-workbook-card" fxLayout="row" fxLayoutAlign="space-between center">
    <span>
      Master workbook
      <span class="blue-link"><span>Download Master File Template</span>
        <mat-icon>library_books</mat-icon>
      </span>
    </span>
    <span>
      <input type="file" name="master-file" (change)="uploadMasterFile($event.target.files[0])">
      <ng-container *ngIf="!(processingClientInfo || processingUnsecuredLGD || processingTriggerDate || processingArrearStatus || processingRiskGrade || processingScenario || processingProbabilityOfDefault || processingProduct || processingAssetClass || processingBondCouponRate || processingCashFlow || processingCollateral || processingCurrency)">
        <mat-icon class="box" svgIcon="blue_box"></mat-icon>
      </ng-container>
      <ng-container *ngIf="processingClientInfo || processingUnsecuredLGD || processingTriggerDate || processingArrearStatus || processingRiskGrade || processingScenario || processingProbabilityOfDefault || processingProduct || processingAssetClass || processingBondCouponRate || processingCashFlow || processingCollateral || processingCurrency">
        <mat-icon class="box">sync</mat-icon>
      </ng-container>
    </span>
  </div>
  <span class="info-text">Upload individual worksheets below</span>
  <div>
    <mat-grid-list cols="2" rowHeight="60px" gutterSize="8px">
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Client and Facility Information
          <mat-icon class="box" *ngIf="!processingClientInfo" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingClientInfo">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Cash Flow
          <mat-icon class="box" *ngIf="!processingCashFlow" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingCashFlow">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Currency
          <mat-icon class="box" *ngIf="!processingCurrency" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingCurrency">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Probability of Default
          <mat-icon class="box" *ngIf="!processingProbabilityOfDefault" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingProbabilityOfDefault">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Trigger Date
          <mat-icon class="box" *ngIf="!processingTriggerDate" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingTriggerDate">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Master Rating Scale
          <mat-icon class="box" *ngIf="!processingMasterRatingScale" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingMasterRatingScale">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Risk Grade
          <mat-icon class="box" *ngIf="!processingRiskGrade" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingRiskGrade">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Collateral
          <mat-icon class="box" *ngIf="!processingCollateral" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingCollateral">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Unsecured LGD
          <mat-icon class="box" *ngIf="!processingUnsecuredLGD" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingUnsecuredLGD">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Product
          <mat-icon class="box" *ngIf="!processingProduct" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingProduct">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Arrears Status
          <mat-icon class="box" *ngIf="!processingArrearStatus" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingArrearStatus">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Asset Class
          <mat-icon class="box" *ngIf="!processingAssetClass" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingAssetClass">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Bond Coupon Rate
          <mat-icon class="box" *ngIf="!processingBondCouponRate" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingBondCouponRate">sync</mat-icon>
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          Scenario
          <mat-icon class="box" *ngIf="!processingScenario" svgIcon="blue_box"></mat-icon>
          <mat-icon class="box" *ngIf="processingScenario">sync</mat-icon>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <span class="info-text">Run, view and manage the report below</span>
  <div class="document-info" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="document" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="14px">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>account_balance</mat-icon> <span>IFRS 9 Report | num Clients | Uploaded on {{ document?.startDate | date : 'dd.MM.yy' }} at {{ document?.startDate | date : 'hh:mm' }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
        <div class="box box-green">-</div>
        <div class="box box-blue">-</div>
        <div class="box box-red">-</div>
      </div>
    </div>
    <mat-grid-list fxFlex cols="2" rowHeight="40px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile><button fxFlex mat-raised-button color="primary">Recalculate</button></mat-grid-tile>
      <mat-grid-tile><button fxFlex mat-button>Package Results</button></mat-grid-tile>
      <mat-grid-tile><button fxFlex mat-button>View Results</button></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxLayout="row">
    <span *ngIf="!deleting" class="delete-link" (click)="openDelete()">Delete document</span>
    <button *ngIf="deleting" mat-raised-button color="warn" (click)="deleteDocument(document)">Confirm</button>
  </div>
</div>