<div class="sign-in-holder" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="0 1 25%"></div>
    <app-auth fxFlex="1 0 auto" (signedIn)="navigateToHome()" (forgotPassword)="navigateToForgotPassword()"></app-auth>
    <div fxFlex="0 1 25%"></div>
</div>