<app-navbar [user]="( user$ | async )" (home)="navigateHome()" (ifrs9)="navigateToIFRS9()" (risk)="navigateToRisk()" (user-settings)="navigateToUserSettings()" (manage-users)="navigateToManageUsers()" (manage-organisations)="navigateToManageOrganisations()" (signin)="navigateToAuth()" (signout)="navigateToIndex()"></app-navbar>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <main fxFlex="80%">
        <router-outlet></router-outlet>
    </main>
</div>