<mat-card fxLayout="row" fxLayoutAlign="space-around stretch">
  <form fxFlex (ngSubmit)="signIn(email, password)" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="14px">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" #emailField="ngModel" required>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" #passwordField="ngModel" required>
    </mat-form-field>
    <button type="submit" mat-button color="primary" [disabled]="processing || !passwordField.valid || !emailField.valid">
      <span *ngIf="!processing">Sign In</span>
    
      <span *ngIf="processing">
        <span fxFlex></span>
        <mat-spinner diameter="32"></mat-spinner>
        <span fxFlex></span>
      </span>
    </button>
    <button type="button" mat-button color="accent">Forgot Password</button>
  </form>
</mat-card>