/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: rgba(225, 225, 234, 0.3)
}

body main {
    margin: 0 8px 0 8px
}

* {
    font-family: 'Roboto', sans-serif;
}