.document {
    background-color: white;
    padding: 20px;
}

.document:hover {
    box-shadow: 4px 4px rgb(214, 214, 194);
}

.document:active {
    background-color: rgb(214, 214, 194);
    box-shadow: none;
}

.box {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
}

.box-green {
    color: green;
    background-color: #ddffcc;
}

.box-red {
    color: red;
    background-color: #ffd6cc;
}

.box-blue {
    color: blue;
    background-color: #cceeff;
}