<div class="document" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="14px">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>account_balance</mat-icon> <span>IFRS 9 Report | num Clients | Uploaded on {{ document.startDate | date : 'dd.MM.yy' }} at {{ document.startDate | date : 'hh:mm' }}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
    <div class="box box-green">-</div>
    <div class="box box-blue">-</div>
    <div class="box box-red">-</div>
  </div>
</div>